{% extends "main/header.html" %}
{% block content %}
    {% include "main/popup.html" %}

    </body>
        <div class="row" style="width:600px; margin:0 auto;">
            <h1>Book Number <b>{{ books.id }}  </b></h1>

            <h3> Title -</b>{{ books.Title }}</h3>
            <p><b>Rated</b> - {{ books.Rating }}</p>
            <p><b>Authors</b> - {{ books.Authors }} </p>
            <p><b>ISBN </b> - {{ books.ISBN  }}</p>
            </p><b>ISBN13 </b>- {{ books.ISBN13 }}</p>
            </p><b>Language </b>- {{ books.Language }}</p>
            </p><b>Pages</b>- {{ books.Pages }}</p>
            </p><b>Rating_Count </b>- {{ books.Rating_Count }}</p>
            </p><b>Reviews_Count </b>- {{ books.Reviews_Count }}</p>
            </p><b>Published_Date</b>- {{ books.Published_Date }}</p>
            </p><b>Publisher </b>- {{ books.Publisher }}</p>


            <!-- <a class="btn" href="/main/Pay/{{ books.id }}/">Buy Book No: {{ books.id }}</a><br><br> -->
            {% if request.user.is_authenticated %}
                <!-- <a class="btn" href="/cart_add/{{ books.id }}">[Add to Cart]</a> -->
                <!-- <p class="price">${{ book.price }}</p> -->
                <a class="btn" href="/main/Pay/">Buy Book No: {{ books.id }}</a><br><br>
                <form action="/main/cart_add/{{ books.id }}/" method="post">
                  {{ cart_book_form }}
                  {% csrf_token %}
                    <input class='btn' type="submit" value="[Add to Cart]">
                </form>
            {% else %}
                <a class="btn" href="/main/Pay/">Buy Book No: {{ books.id }}</a><br>
                <a class="btn" href="/login/">[Add to Cart]</a>
            {% endif %}

            </form>
        </div>
    </body>
{% endblock %}
