{% extends "main/header.html" %}
{% block content %}
  <div class="row">
    {% for book in books %}
      <div class="col s12 m6">
        <div class="card blue-grey darken-1 hoverable">
          <div class="card-content white-text">
          <a href="">
            <span class="card-title"> {{ book.title|capfirst }}</span>

              <a href="./main/Buy/{{ book.id }}/">{{ book.id }}. {{ book.Title }}</a><br>

              Rated - {{ book.Rating }}/5
              <p> AUTHOR: {{ book.Authors }} </p>
          </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
